{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'form']) }}
{% endblock %}
