<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="container">
    <form class="row row-cols-lg-auto logo" action="{{ path('app_locale_set') }}" method="post">
        <label class="form-label" for="locale-selector">Langue</label>
        <select class="form-select" name="locale" id="locale-selector">
            <option value="fr">{{ 'fr' | locale_name }}</option>
            <option value="en_US">{{ 'en_US' | locale_name }}</option>
            <option value="es">{{ 'es' | locale_name }}</option>
            <option value="de">{{ 'de' | locale_name }}</option>
        </select>
        <button class="btn btn-primary">Valider</button>
    </form>
    <p>{{ app.locale | locale_name | capitalize }}</p>

        {% block body %}{% endblock %}
    </body>
</html>
